.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
  width: 100%;
  font-size: 3vmin;
}

.holder {
  width: 70vmin;
}

.map {
  padding-top: 8vmin;
  padding-bottom: 3vmin;
}

.entry {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1vmin;
}

.key {
  width: 20%;
  text-align: left;
  padding-top: 0.75vmin;
}

.value {
  width: 80%;
}

.input {
  padding: 0.75vmin;
  margin: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3vmin;
}

.button {
  width: 30%;
  padding: 1vmin;
}

.successes {
  font-size: 30vmin;
  line-height: 30vmin;
}

